.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.search-container {
    width: 100%;
    background-color: #1b1b2e;
    display: flex;
    justify-content: center;
}
.search-container > input {
    padding: 10px;
    margin: 15px 0;
    width: 100%;
    max-width: 300px;
    outline: none;
    border: none;
    border-radius: 7px 0 0 7px;
    font-size: 16px;
}
.search-container > input[type="button"] {
    margin: 15px 0;
    width: 100%;
    max-width: 100px;
    border: none;
    border-radius: 0 7px 7px 0;
    background-color: #ff9800;
    color: #fff;
    transition: all 0.3s ease;
    font-size: 20px;
    cursor: pointer;
}
.search-container > input[type="button"]:hover {
    background-color: #d68100;
    color: #fff;
}
