.product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}
.cart-btn {
    padding: 8px 40px;
    background-color: rgb(252, 182, 5);
    border: none;
    border-radius: 7px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-btn:hover {
    background-color: rgb(255, 198, 55);
}
